@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@import "./dropdown";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./node_modules/bootstrap/scss/functions";

// Include any default variable overrides here

$primary: #ff6058;

$light: #f9f9f9;

// $bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";

@import "./node_modules/bootstrap/scss/bootstrap";

@import 'bootstrap-icons/font/bootstrap-icons.css';


// Then add additional custom code here

// .carousel-control-prev-icon {
//   margin-left: -40px;

// }

// .carousel-control-next {
//   margin-right: -100px;

// }



body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.section-heading {
  font-size: 1.2rem;
  font-weight: 600;

}

.section-brief {
  font-size: 1rem;
  font-weight: 100;
}


.section-slogan {
  font-size: 3.4rem;
  font-weight: bold;

}

.hero-bg {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, .6) 100%, rgba(255, 255, 255, 0) 0%), url("../assets/img/background.jpg");
  background-size: cover;
  background-position: 90% 50%;
  height: 600px;
  background-attachment: fixed;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.image-container {
  position: relative;
  height: 564px;

}

.image-column {

  display: inline-block;
}



.push-down {
  position: absolute;
  top: 2rem;
}

.margin-top {
  margin-top: 2rem;
}

.margin-left {
  margin-left: 2rem;
}

.about-para-heading {
  font-size: 30pt;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.about-para-hash {
  font-size: 44pt;
  line-height: 44px;
  font-weight: bold;
  padding-right: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #9ec0c4;
}

.about-slogan,
.os-slogan {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}


.os-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}


.wcus-brief {
  font-size: 1rem;
  font-weight: 100;
}

.about-btn>button,
#os-more>a {
  font-size: 0.8rem;
  padding: 1.2rem 4.5rem;
  margin-top: 3rem;
}

#why-choose-us {
  background-image: linear-gradient(to bottom, #f7f7f7 75%, #0000 25%);
}

#why-choose-us,
h3 {
  font-size: 60px;
  font-weight: bold;
}

#why-choose-us,
h5 {
  font-size: 18px;
  font-weight: bold
}

.wcus-img-box {
  height: 350px;
  width: 330px;


  background-image: linear-gradient(grey 50%, black);
}

.wcus-img-label {

  border-radius: 5px;
  padding: .25rem 2rem;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
}

.wcus-img-label:hover {
  background-color: $primary;
}



.wcus-logos {
  background-image: linear-gradient(black, black);
  background-size: cover;
  width: 50px;
  height: 46px;
}

#wcus-logo-1 {
  background-image: url("../assets/img/wcus-logo-1.png");
}

#wcus-logo-2 {
  background-image: url("../assets/img/wcus-logo-2.png");
}

#wcus-logo-3 {

  background-image: url("../assets/img/wcus-logo-3.png");
}

#wcus-logo-4 {

  background-image: url("../assets/img/wcus-logo-4.png");
}

#wcus-logo-5 {

  background-image: url("../assets/img/wcus-logo-5.png");
}

#wcus-logo-6 {

  background-image: url("../assets/img/wcus-logo-6.png");
}

#wcus-img-1 {
  background-image: url("../assets/img/wcus-1.jpg");
}

#wcus-img-2 {
  background-image: url("../assets/img/wcus-2.jpg");
}

#wcus-img-3 {
  background-image: url("../assets/img/wcus-3.jpg");
}

// Testimonial section

@media screen and (min-width:991px) {
  #testimonial {
    background-image: linear-gradient(100deg, rgba(0, 0, 0, .8) 58.5%, rgba(255, 255, 255, 0) 38.5%),
      url("../assets/img/testimonial-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
  }
}


#testimonial {

  background-color: black;

  .testi-brief {
    font-size: 3.8rem;
    font-weight: 600;
  }

  .testi-client-img {
    background-image: url("../assets/img/testimonial-pic.jpg");
    background-size: cover;
    height: 100px;
    width: 100px;
  }

  #testimonialCarousel {
    margin-left: 10px;
    margin-right: 10px;
  }

  .carousel-control-next {
    right: -60px;
  }

  .carousel-control-prev {
    left: -60px;
  }
}

// Our team

.our-team {


  .our-team-member {
    background-image: url("../assets/img/our-team-pic-1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
    width: 140px;
  }
}

// subscribe section


.subscribers-form-background {
  background-image: linear-gradient(white 50%, $dark 50%);
}

.subscribers-height {
  height: 80px;
}